* {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}
  
ul {
    list-style: none;
}

/* Navbar */
.menu-btn {
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 30px;
    z-index: 2;
    display: none;
    color: white;
}

.nav {
    height: 120px;
    display: flex;
}

.nav-img {
    height: 100%;
    width: 30%;
    display: flex;
}

.nav-img img {
    max-width: 100%;
    height: 100%;
}

.nav-img::before,
.nav-img::after {
    content: '';
    width: 50%;
    height: 100%;
    background-color: #9966ff;
}

.nav-navbar {
    width: 100%;
}

.nav-sup {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #9966ff;
}

.nav-icon {
    display: flex;
    color: #9966ff;
}

.icon-item a,
.icon-redes a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 5px;
    margin-left: 10px;
    border-radius: 50%;
    width: 17px;
    height: 17px;
}

.icon-item a {
    color: #9966ff;
}

.nav-link-sup {
    display: flex;
    margin-left: auto;
    padding-right: 20px;
}

.nav-link-sup p {
    display: inline-block;
    text-transform: uppercase;
    color: white;
    padding: 5px 20px;
    font-weight: lighter;
}

.nav-link-sup p:first-child {
    border-right: 1px solid white;
}

.margen {
    width: 100%;
    height: 10px;
}

.nav-inf {
    display: flex;
    width: 100%;
    height: 20%;
    border-top: 5px solid #9966ff;
}

.nav-inf ul {
    display: flex;
    margin-left: auto;
    margin-right: 50px;
}

.nav-link {
    padding: 0 20px;
    position: relative;
}

.nav-link a {
    text-transform: uppercase;
    cursor: pointer;
    color: black;
}

.active a {
    color: #9966ff !important;
}

.linea-link {
    left: 0;
    top: 0;
    width: 100%;
    height: 15px;
    background-color: #9966ff;
    position: absolute;
    transform: translateY(-33px);
}

/* Masthead */
.masthead {
    background-color: #ccffff;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.text-masthead {
    text-align: center;
}

.text-masthead h3 {
    margin: 10px;
}

.btn-masthead {
    text-align: center;
}

.btn {
    color: white;
    background-color: red;
    padding: 7px 45px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

.icon-wtsp {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: flex-start;
}

.icon-wtsp img {
    margin-right: 90px;
    width: 70px;
}

.casa {
    background-color: white;
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: auto;
    position: relative;
    overflow: hidden;
}

.line1,
.line2 {
    top: 0;
    left:0;
    position: absolute;
    width: 100%;
    height: 10px;
    background-color: red;
}

.line1 {
    transform: rotate(10deg) translateX(49.5%);
}

.line2 {
    transform: rotate(-10deg) translateX(-49.5%);
}

.triang1,
.triang2 {
    position: absolute;
    width: 60%;
    height: 50px;
    background-color: #ccffff;
}

.triang1 {
    top: -35px;
    left:0;
    transform: rotate(-10deg) translateX(-10%);
}

.triang2 {
    top: -58px;
    left:0;
    transform: rotate(10deg) translateX(80%);
}

.texto-casa {
    text-align: center;
    margin-top: 25px;
}

.texto-casa p:first-child {
    margin-bottom: 40px;
}

.texto-casa h3,
.texto-casa h1,
.texto-casa h5 {
    margin: 0;
}

.texto-casa p {
    margin-bottom: 0;
}

.texto-casa p:last-child {
    margin-top: 0;
    margin-bottom: 60px;
}

/* Redes */
.redes {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #999999;
    color: white;
}

.icon-redes a {
    color: #999999 !important;
}

/* columnas footer */
.columns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.column {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}

.column:nth-child(2) {
    flex-direction: column;
}

.column:nth-child(1),
.column:nth-child(3) {
    border-top: 30px solid #cc99ff;
}

.column:nth-child(2) {
    border-top: 30px solid #9966ff;
}

.column img {
    max-width: 50%;
}

.filas-column {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.column-icon {
    width: 30%;
    height: 50px;
    margin-right: 20px;
}

.column-icon i {
    width: 100%;
    height: 100%;
    font-size: 2.5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.column-text {
    width: 70%;
}

.column-text h4,
.column-text p {
    margin: 0;
    display: block;
    width: 100%;
    font-size: 0.8rem;
}

.column iframe {
    width: 100%;
    height: 100%;
}

/* footer legales */
.legales {
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9966ff;
    color: white;
}

.legales h4 {
    margin: 0;
}

/* Medias querys responsive */
@media screen and (max-width:950px) {
    .menu-btn {
        display: block;
    }
    .menu-btn:hover {
        opacity: 0.5;
    }
    .nav {
        flex-direction: column;
        height: 80px;
        background-color: #9966ff;
    }
    .nav-img {
        width: 100%;
    }
    .nav-img::before {
        display: none;
    }
    .nav-img::after {
        display: none;
    }
    .nav-img img {
        margin-left: 30px;
    }
    .nav-navbar {
        width: 80%;
        z-index: 10;
        transform: translateX(-110%);
        transition: transform 0.5s ease-in-out;
    }
    .show {
        transform: translateX(0);
    }
    .nav-link-sup p {
        font-size: 0.6rem;
    }
    .nav-inf {
        background-color: rgba(102, 51, 255, 0.3);
        height: 100vh;
        border-top: none;
    }
    .nav-inf ul {
        flex-direction: column;
        margin-left: 0;
        padding: 0 10px;
        width: 80%;
    }
    .nav-inf li {
        border-bottom: 1px solid white;
        padding: 10px 0;
    }
    .margen,
    .linea-link {
        display: none;
    }
}

@media screen and (max-width:750px) {
    .masthead {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width:650px) {
    .columns {
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }
}