* {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}
  
ul {
    list-style: none;
}

/* Navbar */
.menu-btn {
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 30px;
    z-index: 2;
    display: none;
    color: white;
}

.nav {
    height: 120px;
    display: flex;
}

.nav-img {
    height: 100%;
    width: 30%;
    display: flex;
}

.nav-img img {
    max-width: 100%;
    height: 100%;
}

.nav-img::before,
.nav-img::after {
    content: '';
    width: 50%;
    height: 100%;
    background-color: #9966ff;
}

.nav-navbar {
    width: 100%;
}

.nav-sup {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #9966ff;
}

.nav-icon {
    display: flex;
    color: #9966ff;
}

.icon-item a,
.icon-redes a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 5px;
    margin-left: 10px;
    border-radius: 50%;
    width: 17px;
    height: 17px;
}

.icon-item a {
    color: #9966ff;
}

.nav-link-sup {
    display: flex;
    margin-left: auto;
    padding-right: 20px;
}

.nav-link-sup p {
    display: inline-block;
    text-transform: uppercase;
    color: white;
    padding: 5px 20px;
    font-weight: lighter;
}

.nav-link-sup p:first-child {
    border-right: 1px solid white;
}

.margen {
    width: 100%;
    height: 10px;
}

.nav-inf {
    display: flex;
    width: 100%;
    height: 20%;
    border-top: 5px solid #9966ff;
}

.nav-inf ul {
    display: flex;
    margin-left: auto;
    margin-right: 50px;
}

.nav-link {
    padding: 0 20px;
    position: relative;
}

.nav-link a {
    text-transform: uppercase;
    cursor: pointer;
    color: black;
}

.active a {
    color: #9966ff !important;
}

.linea-link {
    left: 0;
    top: 0;
    width: 100%;
    height: 15px;
    background-color: #9966ff;
    position: absolute;
    transform: translateY(-33px);
}

/* Masthead */
.masthead {
    background-color: rgb(247, 247, 234);
    display: flex;
}

.col-1 {
    width: 70%;
    display: flex;
    flex-direction: column;
}

.col-2 {
    width: 30%;
    display: flex;
    flex-direction: column;
}

.col-1 p {
    padding-left: 20px;
    opacity: 0.4;
}

.col-1 img {
    margin: auto;
    max-width: 38%;
}

.text-masthead {
    text-align: center;
}

.text-masthead h3 {
    margin: 10px;
}

.btn-masthead {
    margin: 20px;
    text-align: center;
}

.btn {
    color: white;
    background-color: red;
    padding: 7px 45px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

.icon-wtsp {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: flex-start;
}

.icon-wtsp img {
    margin-right: 90px;
    width: 70px;
}

.casa {
    background-color: white;
    width: 70%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    position: relative;
    overflow: hidden;
}

.line1,
.line2 {
    top: 0;
    left:0;
    position: absolute;
    width: 100%;
    height: 10px;
    background-color: red;
}

.line1 {
    transform: rotate(10deg) translateX(49.5%);
}

.line2 {
    transform: rotate(-10deg) translateX(-49.5%);
}

.triang1,
.triang2 {
    position: absolute;
    width: 60%;
    height: 50px;
    background-color: rgb(247, 247, 234);
}

.triang1 {
    top: -32px;
    left:0;
    transform: rotate(-10deg) translateX(-10%);
}

.triang2 {
    top: -58px;
    left:0;
    transform: rotate(10deg) translateX(80%);
}

.texto-casa {
    text-align: center;
    margin-top: 25px;
}

.texto-casa p:first-child {
    margin-bottom: 40px;
}

.texto-casa h3,
.texto-casa h1,
.texto-casa h5 {
    margin: 0;
}

.texto-casa p {
    margin-bottom: 0;
}

.texto-casa p:last-child {
    margin-top: 0;
    margin-bottom: 120px;
}

/* Redes */
.redes {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #999999;
    color: white;
}

.icon-redes a {
    color: #999999 !important;
}

/* columnas footer */
.columns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.column {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}

.column:nth-child(2) {
    flex-direction: column;
}

.column:nth-child(1),
.column:nth-child(3) {
    border-top: 30px solid #cc99ff;
}

.column:nth-child(2) {
    border-top: 30px solid #9966ff;
}

.column img {
    max-width: 50%;
}

.filas-column {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.column-icon {
    width: 30%;
    height: 50px;
    margin-right: 20px;
}

.column-icon i {
    width: 100%;
    height: 100%;
    font-size: 2.5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.column-text {
    width: 70%;
}

.column-text h4,
.column-text p {
    margin: 0;
    display: block;
    width: 100%;
    font-size: 0.8rem;
}

.column iframe {
    width: 100%;
    height: 100%;
}

/* footer legales */
.legales {
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9966ff;
    color: white;
}

.legales h4 {
    margin: 0;
}

/* SECCION GRADUADOS */
.graduados-bg {
    background-color: rgb(247, 247, 234);
}

.graduados {
    margin: 0 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 50px;
    padding-bottom: 25px;
}

.col-graduados {
    grid-column: 2 / 3;
}

.col-graduados .col-head-img img:last-child {
    max-width: 65%;
}

/* Columna larga */
.col-graduados-3 {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
}

.col-head {
    width: 100%;
}

.col-head-img {
    position: relative;
}

.col-head-img img {
    max-width: 100%;
}

.col-head-img img:last-child {
    max-width: 43%;
    position: absolute;
    right: 0;
    bottom: 4.5px;
}

.col-title {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: #cc99ff;
}

.col-title-items {
    width: 100%;
    position: relative;
    display: flex;
}

.col-title-items h3 {
    color: white;
    text-transform: uppercase;
    padding-left: 15px;
    margin: 0;
}

.col-title-items img {
    position: absolute;
    max-width: 15%;
    right: 10px;
    top: 15px;
}

.col-content {
    width: 100%;
}

.col-content img {
    max-width: 100%;
    margin: 15px 0;
}

.col-content p {
    margin: 5px 0;
    font-style: italic;
}

.col-content-body p {
    font-style: normal;
}

.btn-youtube {
    width: 100%;
    height: 80px;
    background-color: #ffffff;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-youtube a {
    display: block;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-youtube img {
    max-width: 20%;
}

.detalle-youtube {
    font-size: 0.9rem;
    opacity: 0.6;
    text-align: center;
}

.col-content-title {
    margin: 30px 0;
}

.col-content-footer {
    text-align: end;
    margin-bottom: 60px;
}

.col-content-footer a {
    text-decoration: none;
    color: #99cc99;
    font-size: 1.2rem;
}

.col-content-footer i {
    margin-left: 5px;
}

.col:nth-child(2) .col-title {
    background-color: #9966ff !important;
}

/* SECCION CONTACTO */
.text-danger {
    color: red;
}

.formulario {
    display: flex;
    justify-content: center;
}

.formulario form {
    width: 50%;
}

.form-title {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: #9966ff;
    color: white;
}

.form-title h4 {
    margin-left: 15px;
}

.input-area {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input-area input[type="checkbox"] {
    flex-direction: row;
}

.input-area input {
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
    background-color: transparent;
}

.input-area input:focus {
    outline: none;
}

.formulario form button,
.form-2 form button {
    float: right;
}

/* INSCRIPCION */
.formulario-inscripcion {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.form-1, .form-2 {
    width: 40%;
    margin-bottom: 20px;
}

.input-title h4 {
    margin: 0;
    margin-top: 10px;
}

.input-title p {
    margin: 0;
    padding-left: 0;
}

.input-check {
    display: flex;
    align-items: center;
    margin: 15px 0;
}

.input-check h5 {
    margin: 0;
    margin-left: 5px;
}

/* MODAL */
.mascara {
    display: none; 
    position: fixed; 
    z-index: 10000000; 
    left: 0;
    top: 0;
    width: 100vw; 
    height: 100vh; 
    background-color: rgba(0,0,0,0.8); 
}

.contenido {
    position: fixed;
    left: 10vw;
    right: 10vw;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: auto;
    color: black;
    animation: modal 1s;
    top: 5vh;
    max-width: 450px;
}

.modal-title {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.modal-title h3 {
    margin-left: 15px;
}

.modal-title img {
    width: 40px;
}

.modal-body p {
    margin: 15px 0px;
}

.modal-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.btn-acept {
    max-height: 50px;
    color: white;
    background-color: red;
    padding: 7px 45px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

.cerrar {
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
    margin-left: auto;
}

.cerrar:hover,
.cerrar:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

@keyframes modal {
    0% {
        transform: translateY(-150%);
    }
}

/* Medias querys responsive */
@media screen and (max-width:950px) {
    .menu-btn {
        display: block;
    }
    .menu-btn:hover {
        opacity: 0.5;
    }
    .nav {
        flex-direction: column;
        height: 80px;
        background-color: #9966ff;
    }
    .nav-img {
        width: 100%;
    }
    .nav-img::before {
        display: none;
    }
    .nav-img::after {
        display: none;
    }
    .nav-img img {
        margin-left: 30px;
    }
    .nav-navbar {
        width: 80%;
        z-index: 10;
        transform: translateX(-110%);
        transition: transform 0.5s ease-in-out;
    }
    .show {
        transform: translateX(0);
    }
    .nav-link-sup p {
        font-size: 0.6rem;
    }
    .nav-inf {
        background-color: rgba(102, 51, 255, 0.3);
        height: 100vh;
        border-top: none;
    }
    .nav-inf ul {
        flex-direction: column;
        margin-left: 0;
        padding: 0 10px;
        width: 80%;
    }
    .nav-inf li {
        border-bottom: 1px solid white;
        padding: 10px 0;
    }
    .margen,
    .linea-link {
        display: none;
    }
    .col-1 img {
        max-width: 60%;
    }
    .casa {
        width: 100%;
    }
    .icon-wtsp img {
        margin-right: 10px;
    }
    .graduados {
        grid-template-columns: repeat(2, 1fr);
    }
    .col-graduados-3 {
        grid-column: 1 / 2;
        grid-row: 1 / 3;
    }
}

@media screen and (max-width:750px) {
    .masthead {
        flex-direction: column;
        align-items: center;
    }
    .col-1 {
        width: 100%;
    }
    .col-1 img {
        margin-top: 20px;
        max-width: 90%;
    }
    .col-2 {
        width: 70%;
        display: flex;
        flex-direction: column;
    }
    .icon-wtsp {
        order: 1;
    }
    .text-masthead {
        order: 2;
    }
    .btn-masthead {
        order: 3;
    }
    .casa {
        margin-top: 30px;
        order: 4;
    }
    .texto-casa p:last-child {
        margin-bottom: 40px;
    }
    .column img {
        max-width: 90%;
    }
    .formulario form {
        width: 90%;
    }
}

@media screen and (max-width:650px) {
    .columns {
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }
    .graduados {
        grid-template-columns: repeat(1, 1fr);
    }
    .col-graduados {
        grid-column: 1 / 2;
        margin-bottom: 50px;
    }
    .col-graduados-3 {
        grid-column: 1 / 2;
        grid-row: 4 / 6;
    }
    .btn-youtube img {
        max-width: 10%;
    }
    .col {
        margin-bottom: 50px;
    }
    .col:first-child {
        margin-bottom: 0;
    }
    .formulario-inscripcion {
        flex-direction: column;
        align-items: center;
    }
    .form-1, .form-2 {
        width: 80%;
    }
}