/* INSCRIPCION */
.formulario-inscripcion {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    .form-1, .form-2 {
        width: 40%;
        margin-bottom: 20px;
        form {
            text-align: left;
            width: 100%;
            .input-title {
                h4 {
                    margin: 0;
                    margin-top: 10px;
                }
                p {
                    margin: 0;
                    padding-left: 0;
                }
            }
            .input-check {
                display: flex;
                align-items: center;
                margin: 15px 0;
                h5 {
                    margin: 0;
                    margin-left: 5px;
                }
            }
        }
    }
}

.col-inscripcion {
    .aclaracion {
        width: 80%;
        margin: 10px auto;
        padding: 15px 0;
        font-weight: lighter;
        text-align: justify;
        line-height: 1.5rem;
        letter-spacing: 0.05rem;
        font-size: 0.8rem;
    }
    a {
        margin: auto;
        margin-top: 30px;
        color: white;
        background-color: red;
        padding: 7px 45px;
        border-radius: 20px;
        border: none;
        cursor: pointer;
    }
}

.col-inscripcion-imagen {
    max-width: 100% !important; 
}

@media screen and (max-width:650px) {
    .col {
        margin-bottom: 50px;
    }
    .col:first-child {
        margin-bottom: 0;
    }
    .formulario-inscripcion {
        flex-direction: column;
        align-items: center;
        .form-1, .form-2 {
            width: 90%;
        }
    }
}