// ASOCIACION
.contenedor-asociacion {
    background-color: rgb(247, 247, 234);
    .asociacion-title {
        position: relative;
        width: 60%;
        text-align: end;
        background-color: rgb(102, 51, 255);
        h3 {
            color: white;
            padding: 15px;
            text-transform: capitalize;
            font-size: 1.5rem;
            margin: 0;
        }
        &::after {
            content: '';
            background-image: url('../img/logoONG.png');
            background-size: contain;
            background-repeat: no-repeat;
            position: absolute;
            bottom: -80px;
            left: 50px;
            width: 200px;
            height: 105px;
        }
    }
    .asociacion-col {
        margin: 0 auto;
        margin-top: 100px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        width: 90%;
        .asociacion-col-contenido {
            padding: 0 10px;
            h4 {
                text-align: justify;
                font-weight: 400;
            }
            p {
                text-align: justify;
                font-weight: 300;
            }
            .contenido-title {
                background-color: #999999;
                width: 100%;
                height: 100px;
                display: flex;
                justify-content: center;
                align-items: center;
                h3 {
                    color: white;
                }
            }
        }
    }
}
// PROGRAMA EDUCATIVO
.programa-title,
.puertas-title {
    position: relative;
    display: flex;
    align-items: center;
    width: 85%;
    background-color: rgb(102, 51, 255);
    height: 150px;
    margin: 0 auto;
    margin-top: 50px;
    h3 {
        color: white;
        text-transform: uppercase;
        font-size: 1.2rem;
        margin-left: 80px;
    }
    &::after {
        content: '';
        background-image: url('../img/piezas-manos.jpg');
        background-size: contain;
        position: absolute;
        bottom: 0px;
        right: -70px;
        width: 150px;
        height: 150px;
    }
    &::before {
        content: '';
        position: absolute;
        bottom: 35px;
        left: -40px;
        width: 80px;
        height: 80px;
        background-color: white;
        border-radius: 50%;
    }
}

.programa-col {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 30px;
    width: 85%;
    margin: 0 auto;
    .programa-col-contenido,
    .programa-col-contenido-3 {
        background-color:  rgb(247, 247, 234);
        padding: 10px;
        p {
            font-weight: 300;
            line-height: 1.5rem;
        }
    }
    .programa-col-contenido-3 {
        grid-column: 3 / 4;
        grid-row: 1 / 3;
    }
}
// PUERTAS ABIERTAS
.puertas-title {
    background-color:#999999;
    &::after {
        background-image: url('../img/nenes.png');
    }
}

.puertas-body {
    display: flex;
    width: 85%;
    margin: 0 auto;
    .puertas-col-1 {
        background-color:  rgb(247, 247, 234);
        padding: 10px; 
        p {
            font-weight: 300;
        }
    }
    .puertas-col-2 {
        padding: 10px;
        p {
            font-weight: 300;
        }
        iframe {
            width: 100%;
        }
    }
}
//  PRENSA
.prensa-title {
    width: 100%;
    text-align: center;
    background-color:  rgb(102, 51, 255);
    h2 {
        margin: 0;
        padding: 15px;
        text-transform: uppercase;
        color: white;
    }
}

.prensa-body {
    display: flex;
    width: 100%;
    justify-content: space-between;
    .prensa-col {
        display: flex;
        flex-direction: column;
        width: 48%;
        .prensa-col-title {
            width: 100%;
            background-color: #cccccc;
            h3 {
                margin: 0;
                padding: 20px;
                color: white;
                text-align: end;
                font-style: italic;
                font-weight: 500;
            }
        }
        .prensa-col-body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: auto;
            width: 60%;
            height: 275px;
            background-color: #999999;
            h3 {
                padding: 20px 25px;
                color: white;
                text-transform: uppercase;
                font-size: 1.5rem;
                margin: 0;
            }
            h4 {
                margin: 0;
                padding: 20px 25px;
                text-transform: uppercase;
                font-size: 1.2rem;
            }
            a {
                font-size: 1.2rem;
                font-style: italic;
                font-weight: 500;
                color: white;
                background-color: #cccccc;
                padding: 10px 40px;
                border-radius: 20px;
                margin: auto 20px 15px auto;
            }
        }
    }
}

.btn-subir {
    display: flex;
    align-items: center;
    width: 90%;
    height: 100px;
    margin: 0 auto;
    a {
        margin-left: auto;
        clip-path: polygon(100% 0%, 100% 100%, 10% 100%, 0% 50%, 10% 0%);
        padding: 10px 30px;
        background-color: #999999;
        color: white;
        cursor: pointer;
    }
}

@media screen and (max-width:950px) {
    .contenedor-asociacion {
        .asociacion-title {
            width: 90%;
        }
        .asociacion-col {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    .programa-title,
    .puertas-title {
        max-width: 80%;
    }
    .programa-col {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, auto);
        width: 90%;
        .programa-col-contenido-3 {
            grid-column: 1 / 3;
            grid-row: 3 / 4;
        }
    }
    .prensa-body {
        .prensa-col {
            .prensa-col-body {
                width: 100%;
            }
        }
    }
}

@media screen and (max-width:650px) {
    .contenedor-asociacion {
        .asociacion-title {
            width: 100%;
            &::after {
                left: 0;
                right: 0;
                margin: 0 auto;
                bottom: -100px;
            }
            h3 {
                text-align: center;
                font-size: 1.8rem;
            }
        }
        .asociacion-col {
            grid-template-columns: repeat(1, 1fr);
            margin: auto;
            margin-top: 100px;
            .asociacion-col-contenido {
                width: 100%;
                padding: 0;
                .contenido-title {
                    width: 100%;
                    h3 {
                        text-align: center;
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }
    .programa-title,
    .puertas-title {
        max-width: none;
        width: 100%;
        margin: 0;
        height: 100px;
        h3 {
            text-align: center;
            font-size: 1.2rem;
            margin: 0 5px;
        }
        &::before {
            display: none;
        }
        &::after {
            bottom: -80px;
            right: 0px;
            left: 0;
            margin: 0 auto;
            width: 100px;
            height: 100px;
        }
    }
    .programa-col {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(5, auto);
        width: 90%;
        .programa-col-contenido-3 {
            grid-column: 1 / 2;
            grid-row: 5 / 6;
        }
    }
    .puertas-body {
        flex-direction: column;
        margin-top: 100px;
    }
    .programa-col {
        margin-top: 90px;
    }
    .prensa-body {
        flex-direction: column;
        .prensa-col {
            width: 100%;
            .prensa-col-body {
                width: 100%;

            }
        }
    }
}