// MODAL REDES Y CONTACTO
.modal-2 {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 300;
    .modal-contenido-2 {
        border-radius: 10px;
        animation: modal2 1s;
        position: fixed;
        top: 15vh;
        left: 10vw;
        right: 10vw;
        margin: auto;
        font-family: 'futura';
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: auto;
        max-width: 450px;
        .modal-title-2 {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            img {
                width: 50px;
            }
            span {
                color: #aaaaaa;
                font-size: 28px;
                font-weight: bold;
                &:hover,
                &:focus {
                    color: #000;
                    text-decoration: none;
                    cursor: pointer;
                }
            }
        }
        .modal-body-2 {
            text-align: center;
            h3 {
                text-transform: capitalize;
            }
            p {
                font-size: 1.2rem;
                font-weight: 100;
            }
            form {
                width: 100%;
                text-align: center;
                margin: 30px 0;
                .input-form {
                    margin: 15px;
                    input,
                    textarea {
                        width: 100%;
                        border: none;
                        border-bottom: 1px solid #9966ff;
                        font-weight: 100;
                    }
                    textarea {
                        resize: none;
                    }
                    input::placeholder {
                        color: #000;
                        font-weight: 100;
                        opacity: 0.6;
                    }
                    input:focus,
                    textarea:focus {
                        outline: none;
                    }
                }
            }
        }
        .modal-footer-2 {
            display: flex;
            align-items: center;
            justify-content: space-around;
            margin-top: 30px;
            button {
                display: flex;
                margin-left: auto;
                padding: 8px 35px;
                background-color: #9966ff;
                color: white;
                border: none;
                border-radius: 20px;
                cursor: pointer;
            }
        }
    }
    @keyframes modal2 {
        0% {
            transform: translateY(-150%);
        }
    }
}