* {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  margin-top: 120px;
}

@media screen and (max-width: 950px) {
  body {
    margin-top: 80px;
  }
}

/* Navbar */
.nav {
  position: fixed;
  width: 100%;
  height: 120px;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 100;
  background-color: white;
}

.nav .menu-btn {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 30px;
  z-index: 2;
  display: none;
  color: white;
}

.nav .nav-img {
  height: 100%;
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav .nav-img img {
  max-width: 100%;
  height: 100%;
}

.nav .nav-img::before, .nav .nav-img::after {
  content: '';
  width: 50%;
  height: 100%;
  background-color: white;
}

.nav .nav-navbar {
  width: 100%;
}

.nav .nav-navbar .nav-sup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  background-color: #9966ff;
}

.nav .nav-navbar .nav-sup .nav-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #9966ff;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav .nav-navbar .nav-sup .nav-icon .icon-item {
  background-color: white;
  padding: 5px;
  margin-left: 10px;
  border-radius: 50%;
  width: 17px;
  height: 17px;
  cursor: pointer;
}

.nav .nav-navbar .nav-sup .nav-link-sup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  padding-right: 20px;
}

.nav .nav-navbar .nav-sup .nav-link-sup a {
  display: inline-block;
  text-transform: uppercase;
  color: white;
  padding: 5px 20px;
  font-weight: lighter;
  margin: 10px 0;
}

.nav .nav-navbar .nav-sup .nav-link-sup .active-link-ong {
  color: black;
}

.nav .nav-navbar .nav-sup .nav-link-sup a:first-child {
  border-right: 1px solid white;
}

.nav .nav-navbar .margen {
  width: 100%;
  height: 10px;
}

.nav .nav-navbar .nav-inf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 20%;
  border-top: 5px solid #9966ff;
}

.nav .nav-navbar .nav-inf ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: 50px;
}

.nav .nav-navbar .nav-inf ul .nav-link {
  padding: 0 20px;
  position: relative;
}

.nav .nav-navbar .nav-inf ul .nav-link a {
  text-transform: uppercase;
  cursor: pointer;
  color: black;
  margin: 10px 0;
}

.nav .nav-navbar .nav-inf ul .active a {
  color: #9966ff !important;
}

.nav .nav-navbar .nav-inf ul .linea-link {
  left: 0;
  top: 0;
  width: 100%;
  height: 15px;
  background-color: #9966ff;
  position: absolute;
  -webkit-transform: translateY(-33px);
          transform: translateY(-33px);
}

/* Medias querys responsive */
@media screen and (max-width: 950px) {
  .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 80px;
    background-color: #9966ff;
  }
  .nav .menu-btn {
    display: block;
  }
  .nav .menu-btn:hover {
    opacity: 0.5;
  }
  .nav .nav-img {
    width: 100%;
  }
  .nav .nav-img::before, .nav .nav-img::after {
    display: none;
  }
  .nav .nav-img img {
    margin-left: 30px;
  }
  .nav .nav-navbar {
    width: 280px;
    z-index: 10;
    -webkit-transform: translateX(-110%);
            transform: translateX(-110%);
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
    transition: -webkit-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  }
  .nav .nav-navbar .nav-inf {
    background-color: rgba(102, 51, 255, 0.3);
    height: 100vh;
    border-top: none;
  }
  .nav .nav-navbar .nav-inf ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 0;
    padding: 0 10px;
    width: 80%;
  }
  .nav .nav-navbar .nav-inf ul .nav-link {
    border-bottom: 1px solid white;
    padding: 10px 0;
  }
  .nav .nav-navbar .margen,
  .nav .nav-navbar .linea-link {
    display: none;
  }
  .nav .nav-navbar .nav-sup .nav-link-sup {
    padding-right: 0;
    font-size: 0.7rem;
  }
  .nav .nav-navbar .nav-sup .nav-link-sup p {
    font-size: 0.6rem;
  }
  .nav .show {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.icon-wtsp {
  position: fixed;
  z-index: 150;
  right: 20px;
  bottom: 30px;
  border: 2px solid  #9966ff;
  background-color: #9966ff;
  color: white;
  -webkit-transition: color 1s;
  transition: color 1s;
  border-radius: 50px;
  cursor: pointer;
}

.icon-wtsp .icon-wtsp-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.icon-wtsp .icon-wtsp-items img {
  width: 60px;
  position: absolute;
  left: -25px;
}

.icon-wtsp .icon-wtsp-items p {
  margin: 0;
  padding: 10px 20px 10px 30px;
}

.icon-wtsp:hover {
  background-color: #9966ff90;
  color: black;
}

/* MODAL CONTACTO */
.mascara {
  display: none;
  position: fixed;
  z-index: 10000000;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
}

.contenido {
  position: fixed;
  left: 10vw;
  right: 10vw;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: auto;
  color: black;
  -webkit-animation: modal 1s;
          animation: modal 1s;
  top: 5vh;
  max-width: 450px;
}

.modal-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

.modal-title h3 {
  margin-left: 15px;
}

.modal-title img {
  width: 40px;
}

.modal-body p {
  margin: 15px 0px;
}

.modal-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
}

.btn-acept {
  max-height: 50px;
  color: white;
  background-color: red;
  padding: 7px 45px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.cerrar {
  color: #aaaaaa;
  font-size: 28px;
  font-weight: bold;
  margin-left: auto;
}

.cerrar:hover,
.cerrar:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@-webkit-keyframes modal {
  0% {
    -webkit-transform: translateY(-150%);
            transform: translateY(-150%);
  }
}

@keyframes modal {
  0% {
    -webkit-transform: translateY(-150%);
            transform: translateY(-150%);
  }
}

.modal-2 {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 300;
}

.modal-2 .modal-contenido-2 {
  border-radius: 10px;
  -webkit-animation: modal2 1s;
          animation: modal2 1s;
  position: fixed;
  top: 15vh;
  left: 10vw;
  right: 10vw;
  margin: auto;
  font-family: 'futura';
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: auto;
  max-width: 450px;
}

.modal-2 .modal-contenido-2 .modal-title-2 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modal-2 .modal-contenido-2 .modal-title-2 img {
  width: 50px;
}

.modal-2 .modal-contenido-2 .modal-title-2 span {
  color: #aaaaaa;
  font-size: 28px;
  font-weight: bold;
}

.modal-2 .modal-contenido-2 .modal-title-2 span:hover, .modal-2 .modal-contenido-2 .modal-title-2 span:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-2 .modal-contenido-2 .modal-body-2 {
  text-align: center;
}

.modal-2 .modal-contenido-2 .modal-body-2 h3 {
  text-transform: capitalize;
}

.modal-2 .modal-contenido-2 .modal-body-2 p {
  font-size: 1.2rem;
  font-weight: 100;
}

.modal-2 .modal-contenido-2 .modal-body-2 form {
  width: 100%;
  text-align: center;
  margin: 30px 0;
}

.modal-2 .modal-contenido-2 .modal-body-2 form .input-form {
  margin: 15px;
}

.modal-2 .modal-contenido-2 .modal-body-2 form .input-form input,
.modal-2 .modal-contenido-2 .modal-body-2 form .input-form textarea {
  width: 100%;
  border: none;
  border-bottom: 1px solid #9966ff;
  font-weight: 100;
}

.modal-2 .modal-contenido-2 .modal-body-2 form .input-form textarea {
  resize: none;
}

.modal-2 .modal-contenido-2 .modal-body-2 form .input-form input::-webkit-input-placeholder {
  color: #000;
  font-weight: 100;
  opacity: 0.6;
}

.modal-2 .modal-contenido-2 .modal-body-2 form .input-form input:-ms-input-placeholder {
  color: #000;
  font-weight: 100;
  opacity: 0.6;
}

.modal-2 .modal-contenido-2 .modal-body-2 form .input-form input::-ms-input-placeholder {
  color: #000;
  font-weight: 100;
  opacity: 0.6;
}

.modal-2 .modal-contenido-2 .modal-body-2 form .input-form input::placeholder {
  color: #000;
  font-weight: 100;
  opacity: 0.6;
}

.modal-2 .modal-contenido-2 .modal-body-2 form .input-form input:focus,
.modal-2 .modal-contenido-2 .modal-body-2 form .input-form textarea:focus {
  outline: none;
}

.modal-2 .modal-contenido-2 .modal-footer-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 30px;
}

.modal-2 .modal-contenido-2 .modal-footer-2 button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  padding: 8px 35px;
  background-color: #9966ff;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

@-webkit-keyframes modal2 {
  0% {
    -webkit-transform: translateY(-150%);
            transform: translateY(-150%);
  }
}

@keyframes modal2 {
  0% {
    -webkit-transform: translateY(-150%);
            transform: translateY(-150%);
  }
}

/* Masthead */
.masthead {
  background-color: #f7f7ea;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.imagen {
  background-image: url("../img/portada.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.col-1 {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.col-2 {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.col-1 p {
  padding-left: 100px;
  opacity: 0.4;
}

.col-1 img {
  margin: auto;
  max-width: 38%;
}

.text-masthead {
  text-align: center;
}

.text-masthead h3 {
  margin: 10px;
}

.btn-masthead {
  margin: 20px;
  text-align: center;
}

.btn {
  color: white;
  background-color: red;
  padding: 7px 45px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.casa {
  -webkit-clip-path: polygon(50% 0%, 100% 7%, 100% 100%, 0 100%, 0 7%);
          clip-path: polygon(50% 0%, 100% 7%, 100% 100%, 0 100%, 0 7%);
  background-color: white;
  width: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  position: relative;
  overflow: hidden;
}

.line1,
.line2 {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 10px;
  background-color: red;
}

.line1 {
  -webkit-transform: rotate(10deg) translateX(49.5%);
          transform: rotate(10deg) translateX(49.5%);
}

.line2 {
  -webkit-transform: rotate(-10deg) translateX(-49.5%);
          transform: rotate(-10deg) translateX(-49.5%);
}

.triang1,
.triang2 {
  position: absolute;
  width: 60%;
  height: 50px;
  background-color: #f7f7ea;
}

.triang1 {
  top: -32px;
  left: 0;
  -webkit-transform: rotate(-10deg) translateX(-10%);
          transform: rotate(-10deg) translateX(-10%);
}

.triang2 {
  top: -58px;
  left: 0;
  -webkit-transform: rotate(10deg) translateX(80%);
          transform: rotate(10deg) translateX(80%);
}

.texto-casa {
  text-align: center;
  margin-top: 25px;
}

.texto-casa p:first-child {
  margin-bottom: 40px;
}

.texto-casa h3,
.texto-casa h1,
.texto-casa h5 {
  margin: 0;
}

.texto-casa p {
  margin-bottom: 0;
}

.texto-casa p:last-child {
  margin-top: 0;
  margin-bottom: 120px;
}

@media screen and (max-width: 950px) {
  .col-1 img {
    max-width: 60%;
  }
  .casa {
    -webkit-clip-path: polygon(50% 0%, 100% 9%, 100% 100%, 0 100%, 0 9%);
            clip-path: polygon(50% 0%, 100% 9%, 100% 100%, 0 100%, 0 9%);
  }
}

@media screen and (max-width: 750px) {
  .masthead {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .col-1 {
    width: 100%;
    text-align: center;
  }
  .col-1 p {
    padding: 0;
  }
  .col-1 img {
    margin-top: 20px;
    max-width: 90%;
  }
  .col-2 {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .icon-wtsp {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .text-masthead {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .btn-masthead {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .casa {
    margin-top: 30px;
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .texto-casa p:last-child {
    margin-bottom: 40px;
  }
  .column img {
    max-width: 90%;
  }
}

/* SECCION GRADUADOS */
.graduados-bg {
  background-color: #f7f7ea;
}

.graduados {
  margin: 0 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 50px;
          column-gap: 50px;
  padding-bottom: 25px;
}

.col-graduados {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
}

.col-graduados .col-head-img img:last-child {
  max-width: 65%;
}

/* Columna larga */
.col-graduados-3 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
}

.col-graduados-3 iframe {
  max-width: 100%;
}

.col-head {
  width: 100%;
}

.col-head-img {
  position: relative;
}

.col-head-img img {
  max-width: 100%;
}

.col-head-img img:last-child {
  max-width: 43%;
  position: absolute;
  right: 0;
  bottom: 4.5px;
}

.col-title {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #cc99ff;
}

.col-title-items {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.col-title-items h3 {
  color: white;
  text-transform: uppercase;
  padding-left: 15px;
  margin: 0;
}

.col-title-items img {
  position: absolute;
  max-width: 15%;
  right: 10px;
  top: 15px;
}

.col-content {
  width: 100%;
}

.col-content video {
  max-width: 100%;
  margin-top: 20px;
}

.col-content img {
  max-width: 100%;
  margin: 15px 0;
}

.col-content p {
  margin: 5px 0;
}

.col-content-body p {
  text-align: justify;
  font-weight: 300;
  line-height: 1.5rem;
  letter-spacing: 0.03rem;
}

.btn-youtube {
  width: 100%;
  height: 100px;
  background-color: #ffffff;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn-youtube a {
  display: block;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn-youtube img {
  max-width: 15%;
}

.detalle-youtube {
  font-size: 0.9rem;
  opacity: 0.6;
  text-align: center;
}

.col-content-title {
  margin: 30px 0;
}

.col-content-footer {
  text-align: end;
  margin-bottom: 60px;
}

.col-content-footer a {
  text-decoration: none;
  color: #99cc99;
  font-size: 1.2rem;
}

.col-content-footer i {
  margin-left: 5px;
}

.col:nth-child(2) .col-title {
  background-color: #9966ff !important;
}

/* Medias querys responsive */
@media screen and (max-width: 950px) {
  .graduados {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .col-graduados-3 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / 3;
  }
}

@media screen and (max-width: 650px) {
  .graduados {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .col-graduados {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    margin-bottom: 50px;
  }
  .col-graduados-3 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 4;
    -ms-grid-row-span: 2;
    grid-row: 4 / 6;
  }
  .btn-youtube img {
    max-width: 10%;
  }
}

/* SECCION CONTACTO */
.text-danger {
  color: red;
}

.formulario,
.formulario-inscripcion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 30px;
}

.formulario form,
.formulario-inscripcion form {
  width: 50%;
  text-align: right;
}

.formulario form .form-title,
.formulario-inscripcion form .form-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 50px;
  background-color: #9966ff;
  color: white;
}

.formulario form .form-title h4,
.formulario-inscripcion form .form-title h4 {
  margin-left: 15px;
}

.formulario form .input-area,
.formulario-inscripcion form .input-area {
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.formulario form .input-area input[type="checkbox"],
.formulario-inscripcion form .input-area input[type="checkbox"] {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.formulario form .input-area input,
.formulario-inscripcion form .input-area input {
  width: 100%;
  border: none;
  border-bottom: 1px solid black;
  background-color: transparent;
}

.formulario form .input-area input:focus,
.formulario-inscripcion form .input-area input:focus {
  outline: none;
}

@media screen and (max-width: 750px) {
  .formulario form {
    text-align: center;
    width: 90%;
  }
}

/* INSCRIPCION */
.formulario-inscripcion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
}

.formulario-inscripcion .form-1, .formulario-inscripcion .form-2 {
  width: 40%;
  margin-bottom: 20px;
}

.formulario-inscripcion .form-1 form, .formulario-inscripcion .form-2 form {
  text-align: left;
  width: 100%;
}

.formulario-inscripcion .form-1 form .input-title h4, .formulario-inscripcion .form-2 form .input-title h4 {
  margin: 0;
  margin-top: 10px;
}

.formulario-inscripcion .form-1 form .input-title p, .formulario-inscripcion .form-2 form .input-title p {
  margin: 0;
  padding-left: 0;
}

.formulario-inscripcion .form-1 form .input-check, .formulario-inscripcion .form-2 form .input-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px 0;
}

.formulario-inscripcion .form-1 form .input-check h5, .formulario-inscripcion .form-2 form .input-check h5 {
  margin: 0;
  margin-left: 5px;
}

@media screen and (max-width: 650px) {
  .col {
    margin-bottom: 50px;
  }
  .col:first-child {
    margin-bottom: 0;
  }
  .formulario-inscripcion {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .formulario-inscripcion .form-1, .formulario-inscripcion .form-2 {
    width: 90%;
  }
}

/* SECCION CARRERA */
.masthead-carrera {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f7f7ea;
}

.col-carrera-1,
.col-carrera-2 {
  width: 50%;
}

.charla {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  padding-bottom: 50px;
}

.charla iframe {
  margin-top: 30px;
}

.titulo-charla {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  background-color: #9966ff;
  color: white;
}

.texto-charla {
  background-color: #ffffff;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.texto-charla p {
  text-align: justify;
  font-weight: 300;
  line-height: 1.5rem;
  letter-spacing: 0.03rem;
}

.texto-charla img {
  max-width: 15%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 50px;
}

.col-carrera-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.col-carrera-2 .cont-carrera {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto;
  margin-right: 95px;
}

.cont-carrera-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wtsp img {
  margin-right: 90px;
  width: 70px;
}

.cont-texto h2 {
  margin: 5px 0;
}

.cont-texto h2:first-child {
  color: #9966ff;
}

.parrafo1 h2 {
  margin-bottom: 0;
  margin-top: 40px;
}

.parrafo1 h4 {
  margin: 0;
  color: #9966ff;
}

.parrafo2 h3 {
  margin: 0;
}

.parrafo2 h3:first-child {
  margin: 40px 0;
}

.parrafo2 {
  margin-bottom: 20px;
}

.cont-carrera-4 {
  width: 90%;
  padding-right: 50px;
}

.cont4-titulo {
  background-color: #999999;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.cont4-titulo h3 {
  text-transform: uppercase;
  color: white;
  padding-right: 20px;
}

.cont4-body {
  background-color: #ffffff;
  padding: 30px 0;
}

.cont4-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0.6;
}

.cont4-text img {
  width: 30px;
  margin: 5px 20px;
}

.division-carrera {
  width: 100%;
  height: 50px;
  background-color: #cc99ff;
}

/* 
    CARRERA SECCION SALIDA LABORAL
*/
.laboral-carrera {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f7f7ea;
}

.seccion,
.seccion2 {
  width: 50%;
}

.seccion1 {
  border-bottom: 15px solid #999999;
  border-top: 15px solid #999999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 80px;
}

.seccion1-titulo {
  text-transform: uppercase;
}

.seccion1-linea {
  width: 100%;
  border-top: 25px solid #9966ff;
  margin-top: 15px;
}

.seccion2 {
  padding: 0 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ffffff;
}

.seccion2-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.seccion2-item p {
  margin-left: 10px;
}

/* CARRERA PLAN DE ESTUDIO */
.plan-estudio {
  padding: 0 40px;
  background-color: #f7f7ea;
}

.plan-titulo {
  width: 100%;
  height: 100px;
  background-color: #999999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.titulo-icono {
  margin-left: 40px;
}

.titulo-icono img {
  width: 70px;
}

.titulo-texto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 40px;
}

.icon img {
  width: 60px;
  margin-right: 20px;
}

.text {
  color: white;
}

.text h3 {
  text-transform: uppercase;
}

.plan-columnas {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 80px;
  padding-bottom: 50px;
}

.plan-columna {
  border-bottom: 20px solid #999999;
}

.plan-columna p {
  padding-left: 10px;
}

.plan-columna h3 {
  margin: 0;
  color: #9966ff;
  margin-top: 20px;
  font-size: 1.3rem;
}

.plan-columna h4 {
  margin: 0;
}

.carrera-testimonios-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100px;
  background-color: #999999;
}

.carrera-testimonios-title h3 {
  text-transform: uppercase;
}

.carrera-testimonios-body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (350px)[2];
      grid-template-columns: repeat(2, 350px);
  gap: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
}

.carrera-testimonios-body .col-testimonios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.carrera-testimonios-body .col-testimonios video {
  max-width: 100%;
  height: 200px;
}

@media screen and (max-width: 750px) {
  .masthead-carrera {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .carrera-testimonios-body {
    -ms-grid-columns: (350px)[1];
        grid-template-columns: repeat(1, 350px);
    gap: 20px;
  }
  .carrera-testimonios-body .col-testimonios video {
    height: auto;
  }
  /* carrera */
  .col-carrera-1 {
    width: 100%;
  }
  .col-carrera-2 {
    width: 80%;
  }
  .col-carrera-2 .cont-carrera,
  .wtsp img {
    margin-right: 0;
  }
  .cont-carrera-4 {
    padding-right: 0;
    width: 100%;
  }
  .laboral-carrera {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .seccion, .seccion2 {
    width: 100%;
  }
  .seccion1 {
    padding: 40px 10px;
  }
  .seccion2 {
    padding: 0;
  }
  .seccion2-item {
    margin: 0 10px;
  }
  .plan-columnas {
    gap: 10px;
  }
}

@media screen and (max-width: 650px) {
  .charla {
    width: 100%;
  }
  .charla iframe {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .charla .texto-charla {
    padding: 5px;
  }
  .charla .texto-charla p {
    margin: 0;
    padding: 5px;
  }
  .cont-carrera-2,
  .cont-carrera-3 {
    padding-left: 10px;
  }
  .col-carrera-2 {
    width: 100%;
  }
  .laboral-carrera {
    padding: 10px;
  }
  .plan-estudio {
    padding: 0;
  }
  .plan-estudio .plan-titulo {
    padding: 0;
  }
  .plan-estudio .plan-titulo .titulo-icono {
    margin-left: 5px;
  }
  .plan-estudio .plan-titulo .titulo-icono img {
    width: 40px;
  }
  .plan-estudio .plan-titulo .titulo-texto .icon {
    margin-right: 10px;
  }
  .plan-estudio .plan-titulo .titulo-texto .icon img {
    width: 40px;
  }
  .plan-estudio .plan-titulo .titulo-texto .text {
    font-size: 0.8rem;
  }
  .plan-estudio .plan-titulo .titulo-texto .text h3 {
    margin: 5px 0;
    font-size: 0.6rem;
  }
  .plan-estudio .plan-columnas {
    padding: 0 10px;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 450px) {
  .carrera-testimonios-body {
    -ms-grid-columns: (90%)[1];
        grid-template-columns: repeat(1, 90%);
  }
}

/* Redes */
.redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #999999;
  color: white;
}

.redes .icon-redes a {
  color: white !important;
  margin: 0 10px;
  font-size: 2rem;
}

/* columnas footer */
.columns {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 200px;
}

.column:nth-child(2) {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.column:nth-child(1),
.column:nth-child(3) {
  border-top: 30px solid #cc99ff;
}

.column:nth-child(2) {
  border-top: 30px solid #9966ff;
}

.column img {
  width: 240px;
}

.filas-column {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.column-icon {
  width: 30%;
  height: 50px;
  margin-right: 20px;
}

.column-icon i {
  width: 100%;
  height: 100%;
  font-size: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.column-text {
  width: 70%;
}

.column-text h4,
.column-text p {
  margin: 0;
  display: block;
  width: 100%;
  font-size: 0.8rem;
}

.column iframe {
  width: 100%;
  height: 100%;
}

/* footer legales */
.legales {
  height: 40px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #9966ff;
  color: white;
}

.legales h4 {
  margin: 0;
}

@media screen and (max-width: 750px) {
  .columns {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }
  .column-icon i {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .redes h3 {
    font-size: 0.8rem;
  }
}

.curso-img-contenedor {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.curso-img-contenedor img {
  width: 100%;
}

.curso-img-contenedor button {
  color: white;
  background-color: #9966ff;
  border: none;
  padding: 10px 25px;
  border-radius: 20px;
  margin-top: 30px;
  cursor: pointer;
}

.curso-img-contenedor h3 {
  font-weight: lighter;
  margin-bottom: 0;
}

.preguntas-title {
  width: 100%;
  text-align: center;
}

.preguntas-title h3 {
  font-weight: lighter;
  color: #99cc99;
}

.preguntas-frecuentes {
  max-width: 850px;
  margin: 30px auto;
}

.preguntas-frecuentes .preguntas-item-contenido {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #cccccc;
  padding: 0 20px;
  border-bottom: 1px solid white;
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
}

.preguntas-frecuentes .preguntas-item-contenido p {
  font-weight: lighter;
  margin: 10px 0;
  padding: 5px 0;
}

.preguntas-frecuentes .preguntas-item-contenido i {
  background-color: white;
  padding: 5px;
  cursor: pointer;
}

.preguntas-frecuentes .preguntas-item-show {
  background-color: #99cc99;
}

.preguntas-frecuentes .preguntas-item-show p {
  color: white;
}

.preguntas-frecuentes .preguntas-item-show i {
  color: #99cc99;
}

.preguntas-frecuentes .preguntas-texto {
  overflow: hidden;
}

.preguntas-frecuentes .preguntas-texto .preguntas-texto-contenido {
  display: none;
  -webkit-animation: movi 1s;
          animation: movi 1s;
  padding: 0 20px;
  background-color: white;
}

.preguntas-frecuentes .preguntas-texto .preguntas-texto-contenido p {
  margin-top: 0;
  margin-bottom: 0;
  padding: 15px 0;
  font-weight: lighter;
  text-align: justify;
  line-height: 1.5rem;
  letter-spacing: 0.05rem;
  font-size: 0.8rem;
}

.preguntas-frecuentes .preguntas-texto .preguntas-texto-contenido h3 {
  color: #99cc99;
  margin-bottom: 0;
}

.preguntas-frecuentes .preguntas-texto .preguntas-texto-contenido .boton-cerrar-drop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.preguntas-frecuentes .preguntas-texto .preguntas-texto-contenido .boton-cerrar-drop p {
  cursor: pointer;
  padding: 10px 20px;
  background-color: #99cc99;
  color: white;
  margin-bottom: 20px;
}

.preguntas-frecuentes .preguntas-texto .preguntas-texto-contenido .img-contenedor-contenido {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.preguntas-frecuentes .preguntas-texto .preguntas-texto-contenido .img-contenedor-contenido p {
  padding-left: 10px;
}

.preguntas-frecuentes .preguntas-texto .preguntas-texto-contenido .img-contenedor-contenido .img-contenedor-texto p, .preguntas-frecuentes .preguntas-texto .preguntas-texto-contenido .img-contenedor-contenido .img-contenedor-texto h3 {
  padding-left: 10px;
  padding-right: 10px;
}

.preguntas-frecuentes .preguntas-texto .menu-dolor-show {
  overflow: hidden;
  display: block;
}

@-webkit-keyframes movi {
  0% {
    -webkit-transform: translateY(-101%);
            transform: translateY(-101%);
  }
}

@keyframes movi {
  0% {
    -webkit-transform: translateY(-101%);
            transform: translateY(-101%);
  }
}

.contenedor-col-curso {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (auto)[3];
      grid-template-rows: repeat(3, auto);
  background-color: #f7f7ea;
  padding: 0 5%;
  padding-bottom: 50px;
}

.contenedor-col-curso .curso-nav a h4 {
  text-transform: uppercase;
  color: black;
  opacity: 0.5;
  padding-left: 30px;
}

.contenedor-col-curso .curso-nav a .curso-activo {
  background-color: #9966ff;
  color: white;
  padding: 8px 0 8px 30px;
}

.contenedor-col-curso .curso-central {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.contenedor-col-curso .curso-central img {
  width: 100%;
}

.contenedor-col-curso .curso-carrito {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-left: 20px;
  margin-bottom: 20px;
}

.contenedor-col-curso .curso-carrito i {
  color: white;
  background-color: #9966ff;
  padding: 15px;
  font-size: 1.5rem;
  border-radius: 50%;
}

.contenedor-col-curso .banda-central {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
}

.contenedor-col-curso .banda-central p {
  margin: 0;
  padding: 10px 50px;
  background-color: #999999;
  color: white;
}

.contenedor-col-curso .curso-col-text {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contenedor-col-curso .curso-col-text h2 {
  width: 70%;
  text-transform: uppercase;
  font-weight: 100;
  text-align: center;
}

.contenedor-col-curso .curso-col-text img {
  max-width: 100%;
}

.contenedor-col-curso .curso-programa {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
}

.contenedor-col-curso .curso-programa .curso-programa-boton {
  background-color: #cccccc;
  width: 100%;
  padding: 30px 0;
}

.contenedor-col-curso .curso-programa .curso-programa-boton h4 {
  text-align: right;
  padding-right: 50px;
  text-transform: uppercase;
  margin: 0;
  cursor: pointer;
}

.contenedor-col-curso .curso-programa .curso-programa-boton h1 {
  text-align: center;
  text-transform: uppercase;
}

.contenedor-col-curso .curso-programa .curso-programa-datos {
  padding: 15px;
}

.contenedor-col-curso .curso-programa .boton-alto {
  padding: 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contenedor-col-curso .curso-programa .boton-alto h1 {
  margin: 0;
  padding: 10px;
}

.contenedor-col-curso .curso-programa-drop {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contenedor-col-curso .curso-programa-drop h2 {
  text-transform: uppercase;
  color: #9966ff;
}

.contenedor-col-curso .curso-programa-drop .drop-contenido {
  display: none;
  -webkit-animation: dropdown 1s;
          animation: dropdown 1s;
}

.contenedor-col-curso .curso-programa-drop .drop-contenido .drop-item ul {
  counter-reset: number;
  list-style-type: none;
  padding-left: 15px;
}

.contenedor-col-curso .curso-programa-drop .drop-contenido .drop-item li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
}

.contenedor-col-curso .curso-programa-drop .drop-contenido .drop-item li p {
  margin: 0;
  padding-left: 10px;
}

.contenedor-col-curso .curso-programa-drop .drop-contenido .drop-item li::before {
  counter-increment: number;
  content: counter(number) "-";
}

.contenedor-col-curso .curso-programa-drop .drop-contenido .drop-item p {
  font-weight: 100;
  padding-left: 15px;
}

.contenedor-col-curso .curso-programa-drop .drop-contenido .drop-item .texto-violeta {
  color: #9966ff;
}

.contenedor-col-curso .curso-programa-drop .drop-contenido .drop-item .bold {
  font-weight: bolder;
  font-size: 1.5rem;
}

.contenedor-col-curso .curso-programa-drop .menu-contenedor-show {
  overflow: hidden;
  display: block;
}

@-webkit-keyframes dropdown {
  0% {
    -webkit-transform: translateY(-101%);
            transform: translateY(-101%);
  }
}

@keyframes dropdown {
  0% {
    -webkit-transform: translateY(-101%);
            transform: translateY(-101%);
  }
}

.becas-contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 180px;
  background-color: #cccccc;
}

.becas-contenedor img {
  position: absolute;
  right: 15px;
  width: 150px;
}

.becas-contenedor h3 {
  margin: auto;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.5rem;
}

.becas-texto {
  max-width: 500px;
  margin: 30px auto;
  padding: 0 15px;
}

.becas-texto p {
  font-weight: lighter;
  text-align: justify;
  line-height: 1.5rem;
  letter-spacing: 0.05rem;
  font-size: 1rem;
  opacity: 0.6;
}

/* Medias querys responsive */
@media screen and (max-width: 850px) {
  .contenedor-col-curso {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    width: 100%;
    padding: 0;
    padding-bottom: 30px;
  }
  .contenedor-col-curso .curso-carrito {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
    z-index: 10;
    position: relative;
  }
  .contenedor-col-curso .curso-carrito i {
    position: absolute;
    right: 0;
    bottom: -30px;
  }
  .contenedor-col-curso .banda-central {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
  }
  .contenedor-col-curso .curso-programa {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
  }
  .contenedor-col-curso .curso-programa-drop {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
  }
  .contenedor-col-curso .curso-col-text {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4 / 5;
  }
}

@media screen and (max-width: 650px) {
  .contenedor-col-curso {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: (auto)[1];
        grid-template-rows: repeat(1, auto);
    width: 100%;
  }
  .contenedor-col-curso .curso-central {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
  }
  .contenedor-col-curso .curso-nav {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
  }
  .contenedor-col-curso .curso-carrito {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
    z-index: 10;
    position: relative;
  }
  .contenedor-col-curso .curso-carrito i {
    position: absolute;
    right: 0;
    bottom: -30px;
  }
  .contenedor-col-curso .banda-central {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
  }
  .contenedor-col-curso .curso-programa {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4 / 5;
  }
  .contenedor-col-curso .curso-programa-drop {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5 / 6;
  }
  .contenedor-col-curso .curso-col-text {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    grid-row: 6 / 7;
  }
  .becas-contenedor img {
    bottom: -60%;
    right: 0;
    left: 0;
    margin: 0 auto;
  }
  .becas-texto {
    margin-top: 130px;
  }
}

.contenido-ong {
  width: 100%;
  background-color: #f7f7ea;
}

.contenido-ong .ong-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40%;
  text-align: right;
  background-color: #999999;
  position: relative;
}

.contenido-ong .ong-title h3 {
  text-transform: uppercase;
  color: white;
  margin: 0;
  padding: 15px;
}

.contenido-ong .ong-title::after {
  position: absolute;
  bottom: -17px;
  left: 0;
  content: '';
  width: 100%;
  height: 10px;
  background-color: black;
}

.contenido-ong .ong-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

.contenido-ong .ong-body p {
  width: 48%;
  margin: 50px 15px;
  opacity: 0.6;
  text-align: justify;
  line-height: 1.5rem;
  letter-spacing: 0.05rem;
}

.contenido-ong .ong-body img {
  margin-left: 15px;
  max-width: 60%;
}

@media screen and (max-width: 950px) {
  .contenido-ong .ong-title {
    width: 70%;
  }
  .contenido-ong .ong-body p {
    width: 70%;
  }
  .contenido-ong .ong-body img {
    margin-left: 15px;
    max-width: 60%;
  }
}

@media screen and (max-width: 650px) {
  .contenido-ong .ong-title {
    width: 100%;
  }
  .contenido-ong .ong-title h3 {
    font-size: 1.0rem;
    text-align: center;
  }
  .contenido-ong .ong-body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contenido-ong .ong-body p {
    width: 90%;
    margin: 16px 0;
  }
  .contenido-ong .ong-body img {
    margin-left: 15px;
    max-width: 60%;
  }
}

.contenedor-asociacion {
  background-color: #f7f7ea;
}

.contenedor-asociacion .asociacion-title {
  position: relative;
  width: 63%;
  text-align: end;
  background-color: #6633ff;
}

.contenedor-asociacion .asociacion-title h3 {
  color: white;
  padding: 15px;
  text-transform: capitalize;
  font-size: 1.5rem;
  margin: 0;
}

.contenedor-asociacion .asociacion-title::after {
  content: '';
  background-image: url("../img/logoONG.png");
  -webkit-box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.3);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  bottom: -80px;
  left: 13%;
  width: 200px;
  height: 98px;
}

.contenedor-asociacion .asociacion-col {
  margin: 0 auto;
  margin-top: 100px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 85%;
}

.contenedor-asociacion .asociacion-col .asociacion-col-contenido {
  padding: 0 10px;
}

.contenedor-asociacion .asociacion-col .asociacion-col-contenido h4 {
  text-align: justify;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0.03rem;
}

.contenedor-asociacion .asociacion-col .asociacion-col-contenido p {
  text-align: justify;
  font-weight: 300;
  line-height: 1.5rem;
  letter-spacing: 0.03rem;
}

.contenedor-asociacion .asociacion-col .asociacion-col-contenido .contenido-title {
  background-color: #999999;
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contenedor-asociacion .asociacion-col .asociacion-col-contenido .contenido-title h3 {
  color: white;
}

.programa-title,
.puertas-title {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 85%;
  background-color: #6633ff;
  height: 150px;
  margin: 0 auto;
  margin-top: 50px;
}

.programa-title h3,
.puertas-title h3 {
  color: white;
  text-transform: uppercase;
  font-size: 1.2rem;
  margin-left: 80px;
}

.programa-title::after,
.puertas-title::after {
  content: '';
  background-image: url("../img/piezas-manos.jpg");
  background-size: contain;
  position: absolute;
  bottom: 0px;
  right: -70px;
  width: 150px;
  height: 150px;
}

.programa-title::before,
.puertas-title::before {
  content: '';
  position: absolute;
  bottom: 35px;
  left: -40px;
  width: 80px;
  height: 80px;
  background-color: white;
  border-radius: 50%;
}

.programa-col {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (auto)[2];
      grid-template-rows: repeat(2, auto);
  gap: 30px;
  width: 85%;
  margin: 0 auto;
}

.programa-col .programa-col-contenido,
.programa-col .programa-col-contenido-3 {
  background-color: #f7f7ea;
  padding: 10px;
}

.programa-col .programa-col-contenido p,
.programa-col .programa-col-contenido-3 p {
  font-weight: 300;
  line-height: 1.5rem;
}

.programa-col .programa-col-contenido-3 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
}

.puertas-title {
  background-color: #999999;
}

.puertas-title::after {
  background-image: url("../img/nenes.png");
}

.puertas-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 85%;
  margin: 0 auto;
}

.puertas-body .puertas-col-1 {
  background-color: #f7f7ea;
  padding: 10px;
}

.puertas-body .puertas-col-1 p {
  font-weight: 300;
}

.puertas-body .puertas-col-2 {
  padding: 10px;
}

.puertas-body .puertas-col-2 p {
  font-weight: 300;
}

.puertas-body .puertas-col-2 iframe {
  width: 100%;
}

.prensa-title {
  width: 100%;
  text-align: center;
  background-color: #6633ff;
}

.prensa-title h2 {
  margin: 0;
  padding: 15px;
  text-transform: uppercase;
  color: white;
}

.prensa-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.prensa-body .prensa-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 48%;
}

.prensa-body .prensa-col .prensa-col-title {
  width: 100%;
  background-color: #cccccc;
}

.prensa-body .prensa-col .prensa-col-title h3 {
  margin: 0;
  padding: 20px;
  color: white;
  text-align: end;
  font-style: italic;
  font-weight: 500;
}

.prensa-body .prensa-col .prensa-col-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  width: 60%;
  height: 275px;
  background-color: #999999;
}

.prensa-body .prensa-col .prensa-col-body h3 {
  padding: 20px 25px;
  color: white;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 0;
}

.prensa-body .prensa-col .prensa-col-body h4 {
  margin: 0;
  padding: 20px 25px;
  text-transform: uppercase;
  font-size: 1.2rem;
}

.prensa-body .prensa-col .prensa-col-body a {
  font-size: 1.2rem;
  font-style: italic;
  font-weight: 500;
  color: white;
  background-color: #cccccc;
  padding: 10px 40px;
  border-radius: 20px;
  margin: auto 20px 15px auto;
}

.btn-subir {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  height: 100px;
  margin: 0 auto;
}

.btn-subir a {
  margin-left: auto;
  -webkit-clip-path: polygon(100% 0%, 100% 100%, 10% 100%, 0% 50%, 10% 0%);
          clip-path: polygon(100% 0%, 100% 100%, 10% 100%, 0% 50%, 10% 0%);
  padding: 10px 30px;
  background-color: #999999;
  color: white;
  cursor: pointer;
}

@media screen and (max-width: 950px) {
  .contenedor-asociacion .asociacion-title {
    width: 90%;
  }
  .contenedor-asociacion .asociacion-col {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .programa-title,
  .puertas-title {
    max-width: 80%;
  }
  .programa-col {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (auto)[3];
        grid-template-rows: repeat(3, auto);
    width: 90%;
  }
  .programa-col .programa-col-contenido-3 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
  }
  .prensa-body .prensa-col .prensa-col-body {
    width: 100%;
  }
}

@media screen and (max-width: 650px) {
  .contenedor-asociacion .asociacion-title {
    width: 100%;
  }
  .contenedor-asociacion .asociacion-title::after {
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -90px;
  }
  .contenedor-asociacion .asociacion-title h3 {
    text-align: center;
    font-size: 1.8rem;
  }
  .contenedor-asociacion .asociacion-col {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    margin: auto;
    margin-top: 100px;
  }
  .contenedor-asociacion .asociacion-col .asociacion-col-contenido {
    width: 100%;
    padding: 0;
  }
  .contenedor-asociacion .asociacion-col .asociacion-col-contenido .contenido-title {
    width: 100%;
  }
  .contenedor-asociacion .asociacion-col .asociacion-col-contenido .contenido-title h3 {
    text-align: center;
    font-size: 1.5rem;
  }
  .programa-title,
  .puertas-title {
    max-width: none;
    width: 100%;
    margin: 0;
    height: 100px;
  }
  .programa-title h3,
  .puertas-title h3 {
    text-align: center;
    font-size: 1.2rem;
    margin: 0 5px;
  }
  .programa-title::before,
  .puertas-title::before {
    display: none;
  }
  .programa-title::after,
  .puertas-title::after {
    bottom: -80px;
    right: 0px;
    left: 0;
    margin: 0 auto;
    width: 100px;
    height: 100px;
  }
  .programa-col {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: (auto)[5];
        grid-template-rows: repeat(5, auto);
    width: 90%;
  }
  .programa-col .programa-col-contenido-3 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5 / 6;
  }
  .puertas-body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 100px;
  }
  .programa-col {
    margin-top: 90px;
  }
  .prensa-body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .prensa-body .prensa-col {
    width: 100%;
  }
  .prensa-body .prensa-col .prensa-col-body {
    width: 100%;
  }
}
/*# sourceMappingURL=main.css.map */